body {
    font-family: Arial,sans-serif;
    background-color: #EEF5FF;
    color: #000000;
    margin: 0;
    padding: 0;
}
header{
    background-color: #495E57;
    color: #E3E1D9;
    padding: 20px;
    text-align: center;
}
h1, h2{
    margin: 0;
}

main{
    padding: 20px;
    text-align: center;
}
#guideDetail{
    /* background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow:  0 4px 10px rgba(0,0,0,0.1); */
    border: 1px solid #E3E1D9;
    border-radius: 8px;
    color: black;
    padding: 16px;
    margin: 16px;
    text-align: center;
    transition: transform 0.2s;
}
#guideDetail img{
    max-width: 100%;
    border-radius: 8px;
}
#backButton{
    background-color: #1E2A5E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 20px;
}
#backButton:hover{
    background-color: #3F72AF;
}
.card{
    background-color: #000000;
    border-radius: 8px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-shadow:  0 4px 10px rgba(0,0,0,0.1);
}

.card:hover{
    transform: scale(1.05);
}
img{
    max-width: 100%;
    border-radius: 4px;
}